nav {
  padding: 0 10px;
  background-color: #6fa698;
  display: flex;
  justify-content: space-between;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  line-height: 60px;
}

.menu-area {
  /* display: none; */
  position: absolute;
  right: 0;
  left: 0;
  top: 100%;
  background-color: #458a79;
  color: white;
  padding: 0 10px;
}

.menu {
  border-bottom: 1px solid #003729;
  position: relative;
}

.submenu {
  background-color: #256f5c;
  border-top: 1px solid #003729;
  padding: 0 10px;
  color: white;
}

.toggle-menu-btn {
  position: absolute;
  right: 10px;
}

@media screen and (width >= 768px) {
  .toggle-btn,
  .toggle-menu-btn {
    display: none;
  }

  .menu-area {
    display: flex;
    position: relative;
    background-color: #6fa698;
    color: black;
  }

  .menu {
    padding: 0 20px;
    border-bottom: none;
  }

  .submenu-area {
    position: absolute;
    display: none;
  }

  .menu:hover .submenu-area {
    display: block;
  }
}
