nav {
  padding: 0 10px;
  background-color: #6fa698;
  display: flex;
  justify-content: space-between;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  line-height: 60px;
}

input[type="radio"],
input[type="checkbox"] {
  display: none;
}

.menu {
  transform: translateX(-10%);
  transition-property: transform;
  transition-duration: 0.5;
}

/* .menu:first-of-type {
  transition: 0.5s;
} */

.menu:nth-of-type(2) {
  /* transition: 0.5s 0.5s; */
  transition-delay: 0.5s;
}

.menu:last-of-type {
  /* transition: 0.5s 1s; */
  transition-delay: 1s;
}

.toggle-menu:checked ~ .menu-area {
  /* display: block; */
  left: 0;
  opacity: 1;
}

.toggle-menu:checked ~ .menu-area .menu {
  transform: translateX(0);
}

.menu-area {
  /* display: none; */
  position: absolute;
  right: 0;
  left: 100%;
  top: 100%;
  background-color: #458a79;
  color: white;
  padding: 0 10px;
  transition: 1s;
  opacity: 0;
}

.menu {
  border-bottom: 1px solid #003729;
  position: relative;
}

.submenu {
  background-color: #256f5c;
  border-top: 1px solid #003729;
  padding: 0 10px;
  color: white;
}

.toggle-menu-btn {
  position: absolute;
  right: 10px;
}

.submenu-area {
  /* display: none; */
  height: 0;
  overflow: hidden;
  transition: 2s;
}

.toggle-submenu:checked ~ .submenu-area {
  /* display: block; */
  height: 244px;
}

.toggle-submenu:checked ~ .toggle-menu-btn i {
  transform: rotate(180deg);
}

@media screen and (width >= 768px) {
  .toggle-btn,
  .toggle-menu-btn {
    display: none;
  }

  .menu-area {
    display: flex;
    position: relative;
    background-color: #6fa698;
    color: black;
  }

  .menu {
    padding: 0 20px;
    border-bottom: none;
  }

  .submenu-area {
    position: absolute;
    display: none;
  }

  .menu:hover .submenu-area {
    display: block;
  }
}
